{{#if dataList}} 
<h1>GET Request Received</h1>
<h2>NAMES and VALUES which were sent in the URL query string:</h2>


<ul>
  {{#each dataList}}
    <li>{{this.name}} <b>:</b> {{this.value}}
  {{/each}}
</ul>

{{else}}
    <h1>Pokémon battle until a request is made...</h1>
{{/if}}